<div class="messages-container">
  <% if (all_posts.length > 0) { %> <% all_posts.forEach(function(post) { %>
  <div class="message-item">
    <% if (currentUser && (currentUser.isMember || currentUser.isAdmin)) { %>
    <div class="message-header">
      <p>
        <%= post.author.username %>
        <sup class="admin"
          ><%= post.author.isAdmin ? `administrator` : '' %></sup
        >
      </p>
      <p><%= datefns(post.timestamp, "EEE, dd MMM yyyy, HH:mm") %></p>
    </div>
    <% } %>
    <div class="message-body">
      <p class="message-title"><%= post.title %></p>
      <p class="message-content"><%= post.text %></p>
    </div>
    <% if (currentUser && currentUser.isAdmin) { %> <% if (currentUser.isAdmin)
    { %>
    <a href="<%= post.url %>/delete"><i class="fa-solid fa-trash-can"></i></a>
    <% } %> <% } %>
  </div>
  <% }); %> <% } %>
</div>
