<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head") %>

<body>
  <%- include("./partials/header") %>
  <main>
    <% if (currentUser && !currentUser.is_member) { %>
    <%- include("join_form") %>

    <% } else if (currentUser && currentUser.is_member) { %>
    <p class="info">
      Welcome back,
      <span class="accent"><%= currentUser.first_name %></span>
    </p>
    <% } else { %>
    <%- include("features") %>
    <% } %>

    <!-- Don't display messages when Join form is displayed -->
    <% if (!(currentUser && !currentUser.is_member)) { %>
    <%- include("post_list") %>
    <% } %>

  </main>


  <%- include("./partials/footer") %>

</body>

</html>