<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./templates/head'); %>
  </head>

  <body>
    <%- include('./templates/header'); %>
    <main>
      <!-- Visitors view -->
      <% if (!currentUser) { %> <%- include('./templates/features'); %>
      <p class="info">
        There <%= post_count === 1 ? 'is' : 'are' %> currently <%= post_count %>
        <%= post_count === 1 ? 'message' : 'messages' %>.
      </p>
      <p class="info">
        Become a member to reveal authors and compose messages.
      </p>

      <% } else { %> <% if (!currentUser.isMember) { %>
      <!-- Registered users view -->
      <%- include('./templates/join-form'); %>
      <p class="info">
        There <%= post_count === 1 ? 'is' : 'are' %> currently <%= post_count %>
        <%= post_count === 1 ? 'message' : 'messages' %>.
      </p>
      <% } else { %>
      <!-- Members & admin view -->
      <p class="info">
        Welcome back,
        <span class="accent"><%= currentUser.firstName %></span>
      </p>
      <p class="info">
        There <%= post_count === 1 ? 'is' : 'are' %> currently <%= post_count %>
        <%= post_count === 1 ? 'message' : 'messages' %>.
      </p>
      <% } %> <% } %> <%- include('./all-posts') %>
    </main>

    <footer><%- include('./templates/footer') %></footer>
  </body>
</html>
