<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./templates/head'); %>
  </head>

  <body>
    <%- include('./templates/header'); %>
    <main>
      <!-- Visitors view -->
      <% if (!currentUser) { %> <%- include('./templates/features'); %>
      <p class="info">Display messages with hidden author!</p>
      <!-- Registered users view -->
      <% } else if (!currentUser.isMember) { %> <%-
      include('./templates/join-form'); %>
      <p class="info">There are currently 0123456789 messages.</p>
      <p class="info">(messages go here, no author or date)</p>
      <% } else if(currentUser.isMember) { %>
      <!-- Members view -->
      <p class="info">
        Welcome back <span class="accent"><%= currentUser.firstName %></span>
      </p>
      <p class="info">There are currently 0123456789 messages.</p>
      <p class="info">(messages go here, with author and date)</p>
      <!-- Members view -->
      <% } else if (currentUser.isAdmin) { %>
      <p class="info">
        (messages go here, with author, date and delete option)
      </p>
      <% } %>
    </main>

    <footer><%- include('./templates/footer') %></footer>
  </body>
</html>
