<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head") %>

<body>
  <%- include("./partials/header") %>
  <main>
    <% if (currentUser && currentUser.is_member) { %>
    <div class="form-container">
      <h1>NEW MESSAGE</h1>
      <form action="/posts/new" method="POST">
        <div class="form-inputs">
          <div class="input-container">
            <label for="title">Title</label>
            <input type="text" id="title" name="title" placeholder="Top-secret message" value="<%= errors && postTitle %>">
          </div>
          <div class="input-container">
            <label for="message">Message</label>
            <textarea name="message" id="message" cols="70" rows="50" maxlength="100" placeholder="For your eyes only, I must share..."><%= errors && message %></textarea>
          </div>
        </div>
        <button type="submit" class="submit-button">SUBMIT</button>
      </form>

    </div>
    <% if (errors && errors.length > 0) { %>
    <ul>
      <% for (let error of errors) { %>
      <li><%= error.msg %></li>
      <% } %>
    </ul>
    <% } %>
    <% } else { %>
    <p>Nothing to see here!</p>
    <% } %>

  </main>

  <%- include("./partials/footer") %>
</body>

</html>