<% if (post_list.length > 0) { %>
<p>There <%= post_count === 1 ? 'is' : 'are' %> currently <%= post_count %> <%= post_count === 1 ? 'message' : 'messages' %>.</p>
<% post_list.forEach(function(post) { %>
<p><%= post.title %></p>
<p><%= post.text %></p>
<p><%= post.username %> <%= post.is_admin ? "admin" : "" %></p>
<p><%= format(post.timestamp, "EEE, dd MMM yyyy, HH:mm") %></p>
<%# if user is admin only %>
<% if (currentUser.is_admin) { %>
<form action="/posts/<%= post.message_id %>/delete" method="POST"><button>Delete message</button></form>
<% } %>
<% }); %>
<% } else { %>
<p>There are no messages to display yet.</p>
<% } %>