<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./templates/head'); %>
  </head>

  <body>
    <%- include('./templates/header'); %>
    <main>
      <div class="form-container">
        <h1>SIGN UP</h1>
        <p class="info-small">
          Fields marked with <span class="accent">*</span> are required
        </p>
        <form action="/sign-up" method="POST">
          <div class="form-inputs">
            <div class="input-container">
              <label for="firstname"
                >First name<span class="accent">*</span></label
              >
              <li>must be between 2 and 30 characters long</li>
              <li>can only contain letters</li>
              <input
                id="firstname"
                name="firstname"
                placeholder="Secret"
                type="text"
                value="<%= locals.errors && firstName %>"
                required
              />
            </div>
            <div class="input-container">
              <label for="lastname"
                >Last name<span class="accent">*</span></label
              >
              <li>must be between 2 and 30 characters long</li>
              <li>can only contain letters</li>
              <input
                id="lastname"
                name="lastname"
                placeholder="Squirrel"
                type="text"
                value="<%= locals.errors && lastName %>"
                required
              />
            </div>
            <div class="input-container">
              <label for="username"
                >Username<span class="accent">*</span></label
              >
              <li>must be between 8 and 20 characters long</li>
              <li>can only contain letters and numbers</li>
              <input
                id="username"
                name="username"
                placeholder="codeCracker007"
                type="text"
                value="<%= locals.errors && username %>"
                required
              />
            </div>
            <div class="input-container">
              <label for="password"
                >Password<span class="accent">*</span></label
              >
              <li>must be at least 8 characters long</li>
              <li>must contain at least 1 number</li>
              <li>must contain at least 1 uppercase letter</li>
              <input
                id="password"
                name="password"
                type="password"
                minlength="8"
                maxlength="100"
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                title="Must be at least 8 characters long, contain at least one  number and one uppercase letter"
                autocomplete="off"
                required
              />
            </div>
            <div class="input-container">
              <label for="confirmPassword"
                >Confirm password<span class="accent">*</span></label
              >
              <input
                id="confirmPassword"
                name="confirmPassword"
                type="password"
                minlength="8"
                maxlength="100"
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                title="Must be at least 8 characters long, contain at least one  number and one uppercase letter"
                autocomplete="off"
                required
              />
            </div>
          </div>

          <button type="submit" class="submit-button">SUBMIT</button>
        </form>
      </div>
      <% if (locals.errors) { %>
      <ul>
        <% for (let error of errors) { %>
        <li><%= error.msg %></li>
        <% } %>
      </ul>
      <% } %>
    </main>
    <footer><%- include('./templates/footer') %></footer>
  </body>
</html>
